<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="port" value="7171" />
		<add key="nickname" value="name" />
	</appSettings>
	<connectionStrings>
		<add name="Connection" connectionString="Server=win-m7diouj05lo\sqlexpress;DataBase=REGISTRATION;Trusted_Connection=True"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime  version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
